html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #272822;
}

header {
    top: 0;
    height: 55px;
    width: 100%;
    background-color: #1E1F1C;
    padding: 0;
    margin: 0;    
    position: sticky;
}

#pagetitle {
    text-align: left;
    margin-left: 80px;
    float: left;
    position: relative;
}

#pagetitle img {
    float: left;
    height: 40%;
    width: 48px;
}

#pagetitle h1 {
    float: right;
}

#blogCounter {
    float: right;
    color: #D4AF37;
    margin-right: 5px;
    margin-top: 10px;
}

#inputBox {
    width: 70px;
}

#pagetitle h1 {
    font-size: 50px;
    color: #D4AF37;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 8px;
}

main {
    width: 100%;
    padding-top: 100px;
} 

#cards {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    row-gap: 10px;
    overflow-y: hidden;
}

#card {
    display: block;
    height: 150px;
    width: 250px;
    background-color: white;
    border:thin solid black;
}

#card h1{
    margin-top:1px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    border-bottom: solid thin black;
}

#card p{
    max-height: 125px;
    word-wrap: break-all;
    overflow-y: auto;
    overflow-x: hidden;
}



footer {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #1E1F1C;
}
